// colors
$primary-color: #1890ff;
$primary-color-light: #cfe8ff;
$primary-color-dark: #016fd7;
$primary-color-extreme-dark: #5f809e;
$secondary-color: #ff7631;
$secondary-color-light: #feebe1;
$dark-color: #000000;
$dark-color-light: #5a5a5a;
$light-color: #ffffff;
$light-color-medium: #ebebeb;
$light-color-dark: #cccccc;
$error-color: #e4140c;
$success-color: #5cb85c;
