@import "../../app/styles/variables.scss";

.loginFormContainer {
    background-color: $light-color;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    width: 350px;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;

    .loginForm {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        .loginBtn {
            background-color: $secondary-color;
            color: $light-color;
            display: block;
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            margin-top: 10px;
            border-radius: 5px;
            cursor: pointer;
            border: 0;
            height: 40px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .registerCta {
        margin-top: 10px;
        text-align: center;
        .ctaLink {
            color: darken($color: $primary-color, $amount: 20);
        }
    }
}
