@import "../../app/styles/variables.scss";

.formGroup {
    display: flex;
    flex-direction: column;
    .dateInput {
        width: 100%;
        padding: 7px 5px;
        border-radius: 5px;
        border: 1.5px solid $dark-color;
        margin-top: 5px;
        outline: none;
    }
    .errorInput {
        border-color: $error-color;
    }

    .errorMsg {
        color: $error-color;
        font-size: 14px;
        margin-top: 2px;
    }
}
